<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
    <style>
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
    <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="container"  id="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" v-for="item in Board" style="margin: 5px;">
                            <a class="btn btn-hover"
                               v-bind:class="{'btn-success disabled':item.id==Selected_Board.id, 'btn-outline-success':item.id!=Selected_Board.id}"
                               aria-current="page" @click="get_grid_data(item.id)">
                                {{ item.title }}
                            </a>
                        </li>
                    </ul>
                    <div class="d-flex" id="login-info">
                        <button class="btn btn-outline-success" v-if="!is_login">회원가입</button>
                        <button class="btn btn-outline-success" v-if="!is_login">로그인</button>
                        <span v-if="is_login" class="navbar-text">사용자:박상훈</span>
                    </div>
                </div>
            </div>
        </nav>
        <div id="app">
            <div id="grid"></div>
        </div>
    </div>

    <script>
    var app3 = new Vue({
        el: '#container',
        data: {
            is_login: true,
            Selected_Board: {
                id: "",
            },
            Board: [],
        },
        methods: {
            get_grid_data: function (board_id) {
                this.Selected_Board.id = board_id;
                axios.get("http://127.0.0.1:8080/Board/" + board_id + "/all").then((response) => {
                    // console.log(response.data);
                    grid.resetData(response.data);
                });
            },
        },
        created: function() {
            axios.get("http://127.0.0.1:8080/Board/all").then((response) => {
                // console.log(response.data);
                this.Board = response.data;

                if (this.Selected_Board.id == "") {
                    this.Selected_Board.id = response.data[0].id;
                }
                this.get_grid_data(this.Selected_Board.id);
            });
        }
    })

    </script>
    <script>
    const grid = new tui.Grid({
        el: document.getElementById('grid'),
        rowHeaders: ['checkbox'],
        columns: [
            {
                header: '번호',
                name: 'id'
            },
            {
                header: '제목',
                name: 'title',
                editor: 'text'
            },
            {
                header: '작성자',
                name: 'author'
            },
            {
                header: '게시일',
                name: 'create_by',
                editor: 'datePicker'
            },
            {
                header: '조회수',
                name: 'view_count'
            },
            {
                header: '추천',
                name: 'like_count'
            },
        ],
        data: [
            {
                "no": 4,
                "title": "으라차차",
                "author": "bbarkthong",
                "create_by": "2022-08-10",
                "view_count": 123,
                "like_count": 1
            },
            {
                "no": 3,
                "title": "으라차차",
                "author": "bbarkthong",
                "create_by": "2022-08-10",
                "view_count": 123,
                "like_count": 1
            },
            {
                "no": 2,
                "title": "으라차차",
                "author": "bbarkthong",
                "create_by": "2022-08-10",
                "view_count": 123,
                "like_count": 1
            },
            {
                "no": 1,
                "title": "으라차차",
                "author": "bbarkthong",
                "create_by": "2022-08-10",
                "view_count": 123,
                "like_count": 1
            },
        ],
    });

    </script>
</body>
</html>