<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
    <style>
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
    <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="container"  id="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" v-for="item in menu" style="margin: 5px;">
                            <a class="btn btn-hover"
                               v-bind:class="{'btn-success disabled':item.menu_id==selected_menu.id, 'btn-outline-success':item.menu_id!=selected_menu.id}"
                               aria-current="page" :href="item.menu_url">
                            <!-- <a class="btn btn-hover" v-bind:class="{'btn-success disabled':item.menu_id==selected_menu.id, 'btn-outline-success':item.menu_id!=selected_menu.id}" aria-current="page" @click="click_menu(item.menu_id)"><a class="btn btn-hover"
                                v-bind:class="{'btn-success disabled':item.menu_id==selected_menu.id, 'btn-outline-success':item.menu_id!=selected_menu.id}"
                                aria-current="page" @click="click_menu(item.menu_id)"> -->
                                {{ item.menu_nm }}
                            </a>
                        </li>
                    </ul>
                    <div class="d-flex" id="login-info">
                        <button class="btn btn-outline-success" v-if="!is_login">회원가입</button>
                        <button class="btn btn-outline-success" v-if="!is_login">로그인</button>
                        <span v-if="is_login" class="navbar-text">사용자:박상훈</span>
                    </div>
                </div>
            </div>
        </nav>
        <div id="app">
            <div id="grid"></div>
        </div>
    </div>

    <script>
    var app3 = new Vue({
        el: '#container',
        data: {
            is_login: true,
            selected_menu: {
                id: "",
                auth: []
            },
            menu: [],
        },
        methods: {
            click_menu: function (menu_id) {
                this.selected_menu.id = menu_id;
                axios.get("http://127.0.0.1:8080/menu/"+ menu_id +"/auth").then((response) => {
                    console.log(response.data.data.contents);
                    this.selected_menu.auth = response.data.data.contents;
                    
                    if (menu_id == "menu2") {
                        this.get_user_data();
                    }
                });
            },
            auth_check: function (auth_id) {
                return !this.selected_menu.auth.some(item => item.auth_id === auth_id);
            },
            get_grid_data: function () {
                menu_id = this.selected_menu.id;
                object_id = "asdf";
                axios.get("http://127.0.0.1:8080/articles?page_id=" + page_id + "&menu_id=" + menu_id + "&object_id=" + object_id).then((response) => {
                    console.log(response.data);
                });
            },
            get_user_data: function () {
                menu_id = this.selected_menu.id;
                object_id = "asdf";
                const uri = "http://127.0.0.1:8080/users/all?menu_id=" + menu_id + "&object_id=" + object_id;
                const grid = new tui.Grid({
                    el: document.getElementById('grid'),
                    columns: [
                        {
                            header: 'ID',
                            name: 'user_id'
                        },
                        {
                            header: '이름',
                            name: 'user_nm',
                            editor: 'text'
                        },
                        {
                            header: '성별',
                            name: 'gender'
                        }
                    ],
                    rowHeaders: ['checkbox'],
                });
                axios.get(uri).then((response) => {
                    console.log(response.data.data.contents);
                    grid.resetData(response.data.data.contents);
                });
            },
        },
        created: function() {
            axios.get("http://127.0.0.1:8080/menu/all").then((response) => {
                console.log(response.data.data.contents);
                this.menu = response.data.data.contents;
            });
        }
    })

    </script>
    <script>
    const grid = new tui.Grid({
        el: document.getElementById('grid'),
        rowHeaders: ['checkbox'],
        columns: [
            {
                header: '번호',
                name: 'no'
            },
            {
                header: '제목',
                name: 'title',
                editor: 'text'
            },
            {
                header: '작성자',
                name: 'author'
            },
            {
                header: '게시일',
                name: 'create_by',
                editor: 'datePicker'
            },
            {
                header: '조회수',
                name: 'view_count'
            },
            {
                header: '추천',
                name: 'like_count'
            },
        ],
        data: [
            {
                "no": 4,
                "title": "으라차차",
                "author": "bbarkthong",
                "create_by": "2022-08-10",
                "view_count": 123,
                "like_count": 1
            },
            {
                "no": 3,
                "title": "으라차차",
                "author": "bbarkthong",
                "create_by": "2022-08-10",
                "view_count": 123,
                "like_count": 1
            },
            {
                "no": 2,
                "title": "으라차차",
                "author": "bbarkthong",
                "create_by": "2022-08-10",
                "view_count": 123,
                "like_count": 1
            },
            {
                "no": 1,
                "title": "으라차차",
                "author": "bbarkthong",
                "create_by": "2022-08-10",
                "view_count": 123,
                "like_count": 1
            },
        ],
    });

    </script>
</body>
</html>